/* ESTILOS GENERALES PARA TODA LA PAGINA */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    --color-principal: #ffffff;
    --color-secundario: #000000;
    --color-terciario: #a91e24;
    --color-detalles: #d3262d;
    --textos-secundarios:#a09f9f;
    --color-fondo:#e7e7e7;
}

body{
    background-color: var(--color-principal);
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/* COMIENZO HOME */

/* Inicio de HEADER*/
header{
    background-color: var(--color-secundario);
    display: flex;
    justify-content: space-around;
}
header .contenedor{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    margin-left: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-right: 35px;
    align-items: center;
}
nav li{
    display: inline;
    margin: 10px;
}

.logo img{
    width: 10em;
    height: 6em;
}

/* secciones comportamiento de boton */
header a{
    text-decoration: none;
    color: var(--color-principal);
    font-size: 1em;

}
nav a:hover{
    color: var(--color-terciario);
    font-size: 1.03em;
    transition-delay: 0.05s;
}
/* FINDE HEADER */

/* HOME */
#home{
    margin: 0;
    height: 90vh;
    background: url(imagenes/img1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#home h1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-principal);
    margin: 0%;
    font-size: 3em;
    top: 50%;
    width: 100%;
    height: 100%;
}
/* FIN HOME */

/* RESUMEN QUIENES SOMOS */

#resumen-quienes-somos{
    background-color: var(--color-principal);
}
#resumen-quienes-somos .contenedor{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.contenedor .nombres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 6em 6em 6em 8em;  
}
.nombres h2{
    display: flex;
    margin: 0px 0 50px 90px;
    font-size: 1.5em;
}
.nombres h3{
    display: flex;
    margin: 10px 0 10px 120px;
    font-size: 1.2em;
}

.contenedor .resumen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 6em;
}
.contenedor .resumen p{
    line-height: 25px;
    color: var(--textos-secundarios);
    font-size: 1em;
}
.contenedor .resumen a{
    margin:15px 0;
}

#guion{
    letter-spacing: -2px;
}

/* secciones comportamiento de boton */
.contenedor .resumen a{
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 1em;
}

.contenedor .resumen a:hover{
    color: var(--color-terciario);
    font-size: 1.03em;
    transition-delay: 0.05s;
}
/* FIN RESUMEN QUIENES SOMOS */

/* RESUMEN PROYECTOS */

#resumen-proyectos{
    width: 100%;
    margin-bottom: 50px;
}
#resumen-proyectos .contenedor{
    width: auto;
    height: auto;
}
.titulo-resumen-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.titulo-resumen-proyectos h2{
    font-size: 1.5em;
}
.img-resumen-proyectos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen1 h4,.imagen2 h4,.imagen3 h4{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.img-resumen-proyectos img{
    width: 400px;
    height: 400px;
    background-position: center center;
    padding: 10px;
    border-radius: 20px;
}
/* FIN RESUMEN PROYECTOS */

/* RESUMEN CONTACTOS */
#resumen-contacto{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

#resumen-contacto .contenedor{
    display: flex;
    justify-content: space-around;
    height: 30vh;
}
.text-resumen-contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.boton-resumen-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-resumen-contacto h3{
    font-size: 1.1em;
    margin: 8px 0;
}
.text-resumen-contacto h4{
    font-size: 1.8em;
    margin: 8px 0;
}
.text-resumen-contacto p{
    font-size: 1em;
    margin: 8px 0;
    color: var(--textos-secundarios);
}
.boton-resumen-contacto button{
    font-family:'Josefin Sans', sans-serif ;
    padding: 15px 10px;
    color:var(--color-principal);
    background-color: var(--color-secundario);
    letter-spacing: 4px;
    font-size: 1em;
    border: 1px solid var(--color-principal);
}
.boton-resumen-contacto button:hover{
    color:var(--color-secundario);
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
    transition-delay: 0.2s;
}
/* FIN RESUMEN-CONTACTO */

/* FOOTER */
footer{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
.contenedor-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 15px 0;
}
.contenedor-izq{
    font-size: 1.1em;
}
.contenedor-redes a{
    margin: 0 7px;
}
.contenedor-redes a img{
    width: 20px;
    height: 20px;
}
.contenedor-der{
    font-size: 1.1em;
}
/* FIN FOOTER */

/* FIN HOME */

/* EMPIEZO DE QUIENES.SOMOS.HTML */
/* TITULO */
#titulo-quienes-somos{
    background-color: var(--color-secundario);
    color: var(--color-principal);
    display: block;
}
#titulo-quienes-somos .contenedor{
    height: 24vh;
    display: flex;
    align-items: center;
    padding: 10px 200px 30px 200px;
}
#titulo-quienes-somos .contenedor h1{
    font-size: 2.5em;
}
/* FIN TITULO */

/* QUIENES SOMOS */
#quines-somos{
    display: flex;
}
.contenedor-a{
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
}
.contenedor-a h2{
    font-size: 2em;
    margin-bottom: 20px;
}
.contenedor-a p{
    margin: 10px 0;
    padding: 0 220px;
}
.contenedor-b{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 100px;
}
.contenedor1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contenedor1 h3{
    font-size: 1.3em;
}
.contenedor1 p{
    margin: 10px 25px;
    padding: 0 15px 0 0;
    text-align: center;
}
/* FIN QUIENES SOMOS */

/* EQUIPO */
#equipo .contenedor{
    display: flex;
    align-items: center;
}
#equipo .contenedor-img{
    background-color: var(--color-fondo);
    border: #000000 1px solid;
}
#equipo .contenedor-img img{
    width: 450px;
    height: 550px;
    background-position: center center;
}
#equipo .contenedor-text{
    display: flex;
    flex-direction: column;
    margin: 0 200px;
}
#equipo .contenedor-text h2{
    font-size: 1.5em;
    margin: 20px 0 25px;
}
#equipo .contenedor-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#equipo .contenedor-2 h4{
    font-size: 1.1em;
    margin: 5px 0 5px;
}

#equipo .contenedor-2 p{
    margin: 10px 45px;
    padding: 0 60px 0 0;
}
/* FIN EQUIPO */

/* FIN DE QUIENES.SOMOS.HTML */

/* INICIO DE PORTAFOLIO.HTML */

/* MENU */
#menu{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
.menu .contenedor{
    display: flex;
    flex-direction: column;
}
#menu .titulo-menu{
    display: flex;
    align-items: center;
}
.titulo-menu h1{
    font-size: 1.7em;
    margin: 15px 0 20px 50px;
}
.menu-nav {
    display: flex;
    justify-content: space-around;
}
.menu-nav ul{
    margin: 20px;
}
.menu-nav li{
    margin: 0 50px;
}

/* secciones comportamiento de boton */

.menu-nav a{
    text-decoration: none;
    color: var(--color-principal);
    font-size: 1em;

}
.menu-nav a:hover{
    color: var(--color-terciario);
    font-size: 1.03em;
    transition-delay: 0.05s;
    text-decoration: underline;
}
/*FIN MENU */
#portafolio{
    width: 100%;
}
#portafolio .contenedor{
    margin: 0;
    padding: 0;
}
/* PROYECTO 1 */

#proyecto1{
    margin: 30px 0 40px 0;
    border-bottom: 2px solid var(--textos-secundarios);
}
#proyecto1 .contenedor .contenedor-img{
    display: flex;
    justify-content: space-around;
}
#proyecto1 .contenedor .contenedor-img img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    background-position: center center;
}
#proyecto1 .contenedor .contenedor-img img:hover{
    width: 420px;
    height: 420px;
    background-position: center center;
}
#proyecto1 .contenedor-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
#proyecto1 .contenedor-text .titulo h2{
    font-size: 1.8em;
}
#proyecto1 .contenedor-text .main-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#proyecto1 .main-text .text-1 ,.text-2{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#proyecto1 .main-text .text-1 h4 ,.text-2 h4{
    font-size: 1.4em;
}
#proyecto1 .main-text .text-1 p ,.text-2 p{
    font-size: 1.1em;
    margin: 0 20px;
    padding: 0 40px;
}
/* PROYECTO 2 */

#proyecto2{
    margin: 30px 0 40px 0;
    border-bottom: 2px solid var(--textos-secundarios);
}
#proyecto2 .contenedor .contenedor-img{
    display: flex;
    justify-content: space-around;
}
#proyecto2 .contenedor .contenedor-img img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    background-position: center center;
}
#proyecto2 .contenedor .contenedor-img img:hover{
    width: 420px;
    height: 420px;
    background-position: center center;
}
#proyecto2 .contenedor-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
#proyecto2 .contenedor-text .titulo h2{
    font-size: 1.8em;
}
#proyecto2 .contenedor-text .main-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#proyecto2 .main-text .text-1 ,.text-2{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#proyecto2 .main-text .text-1 h4 ,.text-2 h4{
    font-size: 1.4em;
}
#proyecto2 .main-text .text-1 p ,.text-2 p{
    font-size: 1.1em;
    margin: 0 20px;
    padding: 0 40px;
}
/* PROYECTO 3 */

#proyecto3 .contenedor .contenedor-img{
    display: flex;
    justify-content: space-around;
}
#proyecto3 .contenedor .contenedor-img img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    background-position: center center;
}
#proyecto3 .contenedor .contenedor-img img:hover{
    width: 420px;
    height: 420px;
    background-position: center center;
}
#proyecto3 .contenedor-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
#proyecto3 .contenedor-text .titulo h2{
    font-size: 1.8em;
}
#proyecto3 .contenedor-text .main-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#proyecto3 .main-text .text-1 ,.text-2{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#proyecto3 .main-text .text-1 h4 ,.text-2 h4{
    font-size: 1.4em;
}
#proyecto3 .main-text .text-1 p ,.text-2 p{
    font-size: 1.1em;
    margin: 0 20px;
    padding: 0 40px;
}
/* FIN DE PORTAFOLIO.HTML */

/* INICIO DE BLOG.HTML */
#encabezado {
    display: flex;
    align-items: center;
    background-color: var(--color-secundario);
}
#encabezado h1{
    color: var(--color-principal);
    font-size: 2em;
    margin: 20px 0 40px 150px ;
}
/* Aplicare grid y flexbox */
#blog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "section-img text1 text2"
    "section-img text1 text2"
    "section-img text3 text4"
    "section-img text3 text4";
    ;
    margin: 0;
    padding: 0;
}
.section-img{
    grid-area: section-img;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog h3{
    font-size: 1.5em;
    color: var(--color-secundario);
}
#blog p{
    font-size: 1.1em;
    margin: 10px 20px;
    padding: 0 40px;
    color: var(--color-secundario);
}
.text1{
    grid-area: text1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text2{
    grid-area: text2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text3{
    grid-area: text3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text4{
    grid-area: text4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
/* FIN DE BLOG.HTML */










