/* ESTILOS GENERALES PARA TODA LA PAGINA */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    --color-principal: #ffffff;
    --color-secundario: #000000;
    --color-terciario: #a91e24;
    --color-detalles: #d3262d;
    --textos-secundarios:#a09f9f;
    --color-fondo:#e7e7e7;
}

body{
    background-color: var(--color-principal);
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
/* HEADER */
img{
    width: 8rem;
    height: 4.5rem;
}
.container li{
    margin: 0.4rem 1rem 0.4rem 0;
}
/* secciones comportamiento de boton */
header a{
    text-decoration: none;
    color: var(--color-principal);
    font-size: 1.1rem;
}
nav a:hover{
    color: var(--color-terciario);
    transition-delay: 0.05s;
}
/* FINDE HEADER */
/* RESUMEN QUINES SOMOS*/
#resumen-quienes-somos .nombres{
    margin: 2rem 0 2rem 1rem;
}
#resumen-quienes-somos .data{
    margin: 2rem 0 2rem 0;
}
.data{
    margin-top: 1rem;
}
/* FIN RESUMEN */
/* secciones comportamiento de boton */
.data a{
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 1em;
}

.data a:hover{
    color: var(--color-terciario);
    transition-delay: 0.05s;
}

/* RESUMEN PROYECTOS */
#resumen-proyectos{
    width: 100%;
    margin-bottom: 50px;
}
#resumen-proyectos .contenedor{
    width: auto;
    height: auto;
}
.titulo-resumen-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.titulo-resumen-proyectos h2{
    font-size: 1.5em;
}
.img-resumen-proyectos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen1 h4,.imagen2 h4,.imagen3 h4{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
}

.img-resumen-proyectos img{
    width: 400px;
    height: 400px;
    background-position: center center;
    padding: 10px;
    border-radius: 20px;
}
/* FIN RESUMEN PROYECTOS */

/* RESUMEN CONTACTOS */
#resumen-contacto{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
#resumen-contacto button{
    font-family:'Josefin Sans', sans-serif ;
    padding: 1rem 0.6rem ;
    color:var(--color-principal);
    background-color: var(--color-secundario);
    letter-spacing: 0.3rem;
    font-size: 1rem;
    border: 1px solid var(--color-principal);
}
#resumen-contacto button:hover{
    color:var(--color-secundario);
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
    transition-delay: 0.2s;
}
/* FIN RESUMEN-CONTACTO */

/* FOOTER */
footer{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
footer p{
    margin: 4px 0 4px 0;
}
footer a{
    margin: 4px 7px;
}
footer  a img{
    width: 20px;
    height: 20px;
}
/* FIN HOME */

/* EMPIEZO DE QUIENES.SOMOS.HTML */
/* TITULO */
#titulo-quienes-somos{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

/* QUIENES SOMOS */
#quienes-somos .row{
    margin: 0 3px;
}
@media screen and (min-width :1000px) {
    .row1{
        margin: 0 150px 0 150px;
    }
}

/* EQUIPO */
#equipo .container img{
    width: 226px;
    height: 226px;
    padding: 5px;
    margin-bottom: 20px;
}
#equipo .container img:hover{
    transform: scale(1.15);
    transition: all 0.4s;
}

/* FIN DE QUIENES.SOMOS.HTML */

/* INICIO DE PORTAFOLIO.HTML */

/* MENU */
#menu{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
.menu .contenedor{
    display: flex;
    flex-direction: column;
}
#menu .titulo-menu{
    display: flex;
    align-items: center;
}
.titulo-menu h1{
    font-size: 1.7em;
    margin: 15px 0 20px 50px;
}
.menu-nav {
    display: flex;
    justify-content: space-around;
}
.menu-nav ul{
    margin: 20px;
}
.menu-nav li{
    margin: 0 50px;
}

/* secciones comportamiento de boton */

.menu-nav a{
    text-decoration: none;
    color: var(--color-principal);
    font-size: 1em;

}
.menu-nav a:hover{
    color: var(--color-terciario);
    font-size: 1.03em;
    transition-delay: 0.05s;
    text-decoration: underline;
}
/*FIN MENU */
#portafolio{
    width: 100%;
}
#portafolio .contenedor{
    margin: 0;
    padding: 0;
}
/* PROYECTO 1 */

#proyecto1{
    margin: 30px 0 40px 0;
    border-bottom: 2px solid var(--textos-secundarios);
}
#proyecto1 .contenedor .contenedor-img{
    display: flex;
    justify-content: space-around;
}
#proyecto1 .contenedor .contenedor-img img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    background-position: center center;
}
#proyecto1 .contenedor .contenedor-img img:hover{
    width: 420px;
    height: 420px;
    background-position: center center;
}
#proyecto1 .contenedor-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
#proyecto1 .contenedor-text .titulo h2{
    font-size: 1.8em;
}
#proyecto1 .contenedor-text .main-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#proyecto1 .main-text .text-1 ,.text-2{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#proyecto1 .main-text .text-1 h4 ,.text-2 h4{
    font-size: 1.4em;
}
#proyecto1 .main-text .text-1 p ,.text-2 p{
    font-size: 1.1em;
    margin: 0 20px;
    padding: 0 40px;
}
/* PROYECTO 2 */

#proyecto2{
    margin: 30px 0 40px 0;
    border-bottom: 2px solid var(--textos-secundarios);
}
#proyecto2 .contenedor .contenedor-img{
    display: flex;
    justify-content: space-around;
}
#proyecto2 .contenedor .contenedor-img img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    background-position: center center;
}
#proyecto2 .contenedor .contenedor-img img:hover{
    width: 420px;
    height: 420px;
    background-position: center center;
}
#proyecto2 .contenedor-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
#proyecto2 .contenedor-text .titulo h2{
    font-size: 1.8em;
}
#proyecto2 .contenedor-text .main-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#proyecto2 .main-text .text-1 ,.text-2{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#proyecto2 .main-text .text-1 h4 ,.text-2 h4{
    font-size: 1.4em;
}
#proyecto2 .main-text .text-1 p ,.text-2 p{
    font-size: 1.1em;
    margin: 0 20px;
    padding: 0 40px;
}
/* PROYECTO 3 */

#proyecto3 .contenedor .contenedor-img{
    display: flex;
    justify-content: space-around;
}
#proyecto3 .contenedor .contenedor-img img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    background-position: center center;
}
#proyecto3 .contenedor .contenedor-img img:hover{
    width: 420px;
    height: 420px;
    background-position: center center;
}
#proyecto3 .contenedor-text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
#proyecto3 .contenedor-text .titulo h2{
    font-size: 1.8em;
}
#proyecto3 .contenedor-text .main-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#proyecto3 .main-text .text-1 ,.text-2{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#proyecto3 .main-text .text-1 h4 ,.text-2 h4{
    font-size: 1.4em;
}
#proyecto3 .main-text .text-1 p ,.text-2 p{
    font-size: 1.1em;
    margin: 0 20px;
    padding: 0 40px;
}
/* FIN DE PORTAFOLIO.HTML */

/* INICIO DE BLOG.HTML */
#encabezado {
    display: flex;
    align-items: center;
    background-color: var(--color-secundario);
}
#encabezado h1{
    color: var(--color-principal);
    font-size: 2em;
    margin: 20px 0 40px 150px ;
}
/* Aplicare grid y flexbox */
#blog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "section-img text1 text2"
    "section-img text1 text2"
    "section-img text3 text4"
    "section-img text3 text4";
    ;
    margin: 0;
    padding: 0;
}
.section-img{
    grid-area: section-img;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog h3{
    font-size: 1.5em;
    color: var(--color-secundario);
}
#blog p{
    font-size: 1.1em;
    margin: 10px 20px;
    padding: 0 40px;
    color: var(--color-secundario);
}
.text1{
    grid-area: text1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text2{
    grid-area: text2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text3{
    grid-area: text3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text4{
    grid-area: text4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
/* FIN DE BLOG.HTML */

/* INICIO DE BLOG.HTML */
#encabezado {
    display: flex;
    align-items: center;
    background-color: var(--color-secundario);
}
#encabezado h1{
    color: var(--color-principal);
    font-size: 2em;
    margin: 20px 0 40px 150px ;
}
/* Aplicare grid y flexbox */
#blog{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "section-img text1 text2"
    "section-img text1 text2"
    "section-img text3 text4"
    "section-img text3 text4";
    ;
    margin: 0;
    padding: 0;
}
.section-img{
    grid-area: section-img;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog h3{
    font-size: 1.5em;
    color: var(--color-secundario);
}
#blog p{
    font-size: 1.1em;
    margin: 10px 20px;
    padding: 0 40px;
    color: var(--color-secundario);
}
.text1{
    grid-area: text1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text2{
    grid-area: text2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text3{
    grid-area: text3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
.text4{
    grid-area: text4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px ;
}
/* INICIO DE CONTACTO.HTML */
.grid-contacto{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "form contacto"
    "form contacto"
    ;
}
#form{
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}
#contacto{
    grid-area: contacto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}
#encabezado-contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-secundario);
    color: var(--color-principal);
}
#encabezado-contacto h1{
    font-size: 1.1em;
    margin: 20px 0 40px 10px ;
}
#encabezado-contacto p{
    font-size: 2.3em;
    margin: 10px 20px 8px 550px;
}
#form{
    border-right: 1px solid var(--color-secundario);
}
#form .contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.form-row{
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-row input [type="text"],
.form-row input [type="email"] {
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}
.form-row label {
    margin-bottom: 15px;
}
.form-row textarea {
    font-size: 14px;
    border: 1xp solid #d6d9dc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px;
    min-height: 200px;
    min-width: 100%;
    resize: none;
}
.form-row .instructions {
    color: var(--textos-secundarios);
    margin-bottom: 30px;
    font-size: 14px;
}
.form-row button {
    font-family:'Josefin Sans', sans-serif ;
    padding: 15px 10px;
    color:var(--color-principal);
    background-color: var(--color-secundario);
    letter-spacing: 4px;
    font-size: 1em;
    border: 1px solid var(--color-principal);
}
.form-row button:hover {
    color:var(--color-secundario);
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
    transition-delay: 0.2s;
    border: 1px solid var(--color-secundario);
}
.form-row button:active{
    border: 1px solid var(--color-detalles);
}
#contacto .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contacto .contenedor h2{
    font-size: 1.5em;
    margin: 20px 0;
}
#contacto .contenedor p{
    font-size: 1.2em;
    margin: 12px 0;
}
#ubicacion .contenedor{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.mapa{
    margin: 5px 0 10px 0;
}
.info h2{
    font-size: 1.5em;
    margin: 20px 0;
}
.info p{
    font-size: 1em;
}




