@import '../components/listaColores';
@import '../components/variablesFont';

header{
    font-family: $font-one;
    nav{
        div{
            a{
                img{
                    width: 10rem;
                    height: 6rem;
                    @media screen and (max-width:400px){
                        width: 7rem; height: 3.2rem;
                    }
                }
            }
            div{
                ul{
                    li{
                        margin: 0.4rem 1rem 0.4rem 0;
                        a{
                            text-decoration: none;
                            color:nth($colores, 1) ;
                            font-size: 1.1rem;
                            &:hover{
                                color:nth($colores, 4) ;
                                transition-delay: 0.05s;
                            }
                        }
                        }
                }
            }
        }
    }
}